<!-- <nb-layout>
  <nb-layout-column>
<div class="container">
    <div class="card">
        <h2>Login</h2>
        <form>
            <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
            />
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
            />
            <button type="submit">Logins</button>
        </form>
    </div>
</div>
</nb-layout>
  <nb-layout-column> -->
<nb-layout>
    <nb-layout-column>
        <div class="wrapper">
            <div class="container">
                <div class="text-center mb-4">
                    <img
                        class="chmsu-logo"
                        src="../../../assets/images/logo.png"
                        alt="Chmsu Logo"
                    />
                </div>
                <h4 style="z-index: 9999999">
                    Institutional Dashboard <br />
                    Monitoring
                </h4>
                <form [formGroup]="form" (submit)="onLoginSubmit()">
                    <div class="form-group">
                        <label style="color: white" for="username"
                            >Username</label
                        >
                        <div
                            [ngClass]="{
                                'has-error':
                                    form.controls.username.errors &&
                                    form.controls.username.dirty,
                                'has-success':
                                    form.controls.username.valid &&
                                    form.controls.username.dirty
                            }"
                        >
                            <input
                                class="form-control"
                                type="text"
                                name="username"
                                formControlName="username"
                            />
                            <ul class="help-block">
                                <li
                                    *ngIf="
                                        form.controls.username.errors
                                            ?.required &&
                                        form.controls.username.dirty
                                    "
                                >
                                    This field is required.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="color: white" for="password"
                            >Password</label
                        >
                        <div
                            [ngClass]="{
                                'has-error':
                                    form.controls.password.errors &&
                                    form.controls.password.dirty,
                                'has-success':
                                    form.controls.password.valid &&
                                    form.controls.password.dirty
                            }"
                        >
                            <input
                                class="form-control"
                                type="password"
                                name="password"
                                formControlName="password"
                            />
                            <ul class="help-block">
                                <li
                                    *ngIf="
                                        form.controls.password.errors
                                            ?.required &&
                                        form.controls.password.dirty
                                    "
                                >
                                    This field is required.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input
                        [disabled]="!form.valid || processing"
                        class="btn btn-primary"
                        type="submit"
                        value="Login"
                    />
                </form>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>
